body {
  background-image: url("/poster.jpg");
  font-family: cursive;
  background-size: cover;
  text-align: center;


}

img {

  width: 150px;
  height: 150px;
  border-radius: 25%;
  margin: 10px;
}

button {
  background-color: goldenrod;
  border: none;
  border-radius: 20px;
  color: navy;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px;

}

button:hover {
  background-color: aliceblue;
  color: rgb(14, 4, 40);
}

container {

  background-color: rgb(13, 61, 78);
  display: flex;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  border-radius: 50px;


}

.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: grey;
  margin: 20px;
  border-radius: 5px;
}